numpy==1.26.4
numba==0.65.1
terminaltables==3.1.10
easydict==1.13
PyYAML==6.0.3
fire==0.7.1
matplotlib==3.10.9
opencv-python==4.10.0.84
opencv-contrib-python==4.10.0.84
opencv-python-headless==4.10.0.84
pybind11==3.0.4
addict==2.4.0
pandas==3.0.2
scikit-learn==1.8.0
shapely==2.0.7
tqdm==4.67.3
pyquaternion==0.9.9
cachetools==7.0.6
requests==2.33.1
pycocotools==2.0.11
six==1.17.0
scipy==1.17.1
protobuf==7.34.1
descartes==1.1.0
imagecorruptions==1.1.2
objgraph==3.6.2
motmetrics==1.4.0
boto3==1.42.96
open3d==0.19.0
parameterized==0.9.0
tifffile==2024.8.30
